.layout-grid {
    display: grid;
    background-color: #E8E8E8;
    height: 100%;
    grid-template-rows: auto 30vh 60vh;
    /* defines the grid areas placing the grid items */
    grid-template-areas:
    "header"
    "insight-cards"
    "graphs-and-info";
}

.header {
    grid-area: header;
}

.insight-cards {
    grid-area: insight-cards;
    display: grid;
    padding: 1%;
    grid-template-columns: repeat(3, 1fr);
    gap: 1%;
}

.graphs-and-info {
    grid-area: graphs-and-info;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-areas:
    "col1 col2"
}

.gni-col1 {
    grid-area: col1;
    display: grid;
    padding: 4%;
    grid-template-rows: 1fr;
}

.gni-col2 {
    grid-area: col2;
    display: grid;
    padding: 2%;
    grid-template-rows: repeat(2, 1fr);
    gap: 2%;
}