<main class="layout-grid">
    <section class="header">
        <app-navbar></app-navbar>
    </section>
    <section class="insight-cards">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
    </section>
    <section class="graphs-and-info">
        <section class="gni-col1">
            <app-card></app-card>
        </section>
        <section class="gni-col2">
            <app-card></app-card>
            <app-card></app-card>    
        </section>
    </section>
</main>
